@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
@theme {
  --font-mona: "Mona Sans", "sans-serif";
  --font-inter: "Inter", "sans-serif";
}
@plugin 'tailwindcss-motion';
/* @plugin "daisyui"; */
@plugin "daisyui" {
  themes: light --default, dark --light;
}
